.cxx
.DS_Store
!/android/.idea/externalDependencies.xml
!/android/.idea/icon.svg
!/android/.idea/copyright
!/android/.idea/dictionaries
.zig-cache/
/android/*.iml
/android/*/build/
/android/.externalNativeBuild
/android/.gradle/
/android/.idea/*
/android/.kotlin/
/android/app/default/release
/android/local.properties
zig-out/
zig-pkg/
